@{
    Layout = null;
}
    <h2>Game Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Date" class = "control-label col-md-2">
                Date
                </label>
                <div class="col-md-10">
                    {{data.Date}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="PlayerRedScore" class = "control-label col-md-2">
                PlayerRedScore
                </label>
                <div class="col-md-10">
                    {{data.PlayerRedScore}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="PlayerBlueScore" class = "control-label col-md-2">
                PlayerBlueScore
                </label>
                <div class="col-md-10">
                    {{data.PlayerBlueScore}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="PlayerRed" class = "control-label col-md-2">
                 PlayerRed
                </label>
                <div class="col-md-10">
                    <a ng-href="#Player/{{PlayerRed }}" >
                    {{data.PlayerRed_FirstName}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="PlayerBlue" class = "control-label col-md-2">
                 PlayerBlue
                </label>
                <div class="col-md-10">
                    <a ng-href="#Player/{{PlayerBlue }}" >
                    {{data.PlayerBlue_FirstName}}
                    </a>
                </div>
            </div>
    
           
        </div>
    
    <div>
        <a href="#/Game">Back to List</a>
    </div>
